*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(4,197,140);
    background: linear-gradient(81deg, rgba(4,197,140,0.18531162464985995) 0%, rgba(0,255,158,0.5326505602240896) 48%, rgba(18,36,0,0.16010154061624648) 97%, rgba(13,121,9,0) 100%, rgba(208,255,225,1) 100%);
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;}
    

header{
    display: inline-block;
    flex-direction: column;
    
    align-items: center;
    background-color: black;
    color:white; }


ul a{
    color: white;
    font-size: 30px;
}

header img{
    max-width: 200px;
    width: 30%;
    background-color: aqua;

}
header ul{
    list-style-type: none;
    text-align: center;    
}

header li{
    margin: 0 20px;
}


.header-front{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-main{
    font-size: 80px;
    color:rgb(119, 165, 59);
}


a {
    text-decoration: none;}



.frontpage img{
    max-width: 100%;
    opacity: 0.8;
}

.front-outlet img{
    display: flex;
    flex-wrap: nowrap;
    max-width: 20%;
    text-align: justify; 
    margin: 150px;
}



.row{
display: flex;
flex-wrap: wrap;
}



.button1{
    position: relative;
    top: -180px;
    left: 220px;
}


.button2{
    position: relative;
    top: -240px;
    left: 1000px;
}



.h1-about{
    text-align: left;
    font-size: 50px;
    background-color: rgb(83,189,179);
    background: linear-gradient(40deg, rgba(83,189,179,0.3925945378151261) 100%, rgba(96,96,96,0.9108018207282913) 100%);
}

.h2-about{
    font-size: 120;
}


.p-about{
    font-size: 50px;
    margin: 10%; 
    padding: 5px;
    text-align: left;
    }



.about-pic > img{
    width: 500px;
}

.about-pic {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.p-about{

    display: flex;
    justify-content: left;
}


.jackets-outlet{
    display:flex;
    justify-content: space-evenly;
    max-width: 24px;
    flex-wrap: wrap;
}

 .jackets-outlet img {
    width: 200px;
    height:120px;
    padding: 10px;
    margin-top: 80px;
} 

button{
    background-color: rgb(228, 228, 97);
    padding:0.35em 1.2em;
    padding: 20px;
    position:relative;
    transition: .5s ease;
    top: 5px;
    left: 12px;
}

.h1-outlet{
    font-size: 50px;
    color: goldenrod;
}

.p1-outlet{
    text-align: left;
    position: relative;
    top: 80px;
    left: 80px;
font-size: 30px;
}





.header-front{
    background-color: rgb(96,255,209);
    background: linear-gradient(135deg, rgba(96,255,209,0.18531162464985995) 0%, rgba(102,209,168,0.5326505602240896) 0%, rgba(66,112,83,1) 19%, rgba(66,69,53,0.6699054621848739) 90%, rgba(96,96,96,0) 99%);
    text-align: left;
}




.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color:#4CAF50;
    color: whitesmoke;
    padding: 15px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  

  
  
  
  span.price {
    float: right;
    color:black;
}


 .jacket-checkout{
    position: relative;
left: 1890px;
top: 700px;
max-width: 18%; 
}

.b-ch{
    position: relative;
    top: 185px;
    left: -855px;
}

.row{
    padding: 40px;
}





textarea{
    background-color: whitesmoke
}

.p-footer {
    color:black;
    background-color: rgb(96,255,209);
    background: linear-gradient(135deg, rgba(96,255,209,0.18531162464985995) 0%, rgba(102,209,168,0.5326505602240896)
     0%, rgba(96,96,96,0) 85%, rgba(66,112,105,1) 89%, rgba(53,64,69,0.6699054621848739) 100%);
     
    text-align: bottom;
    text-align: center;
    position: relative;
    top: 200px;
    padding: 55px;
    font-size: 50px;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
}

.suc{
    font-size: 200px;
    position: relative;
    top: 200px;    
}




@media(min-width: 800px){
    header{
        display: flex;
        flex-direction: row;
    }

    header ul{
        display: flex;
    }
     }


  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

  
  @media (max-width: 600px){ 
.jacket-checkout{
    position: relative;
    left: 710px;
    top: 350px;
}
 }